.App {
  text-align: left;
  margin-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  background-color: lightblue;
}

select {
  background-color: lightblue;
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: lightblue;
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;

}

h2 {
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
}



p,span,label,li,ul,input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

.select {
  font-size: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


